<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoFilters 1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E0819701CB2DC1B000CE094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E0819871CB2DC1B000CE094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E0819921CB2DC1B000CE094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
